body{
	margin:0;
	padding:0;
	font-family:sans-serif;
}

header {}
/*header section start*/
header {
    box-shadow: 0px 5px 5px 0px #0c0c0c1f;
    padding: 20px 0;
}


.wrapper {
    width: 1100px;
    margin: auto;
    overflow: hidden;
}

.logo{width: 20%;float: left;}

.logo a{}

.logo img{}

nav{width: 80%;float: left;}
nav ul{
    margin: 0;
    padding: 0;
    float: right;
}


nav ul li{
    list-style-type: none;
    /* float: left; */
    display: inline-flex;
}

nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #475b75;
    display: block;
    padding: 10px 20px;
}

nav ul li a:hover {
    color: #0c66ff;
}
/*header section end*/


/*about seciton start*/
section{}
.about-section {
    text-align: center;
    margin: 50px 0px;
}
.about-section h1 {
    color: #3b506c;
    font-size: 70px;
    margin: 0;
    max-width: 800px;
    margin: auto;
}

.about-section h1 span{
    color: #0c66ff;
}
.about-section p{
    font-size: 18px;
    color: #3b506c;
    margin: 0;
    padding-top: 10px;
}

/*about seciton end*/


/*main-img section start*/
.main-img{
	display: block;
	text-align: center;
    background: #f9f9f9;
}

}
.main-img img{
	width: 20%;
}
/*main-img section start*/

/*services section start*/
.feature-bar {
    padding: 40px 0;
}
.column {
	width: 50%;
	float: left;
}

.number h2{
    margin: 0;
    font-size: 70px;
    text-align: right;
    color: #F04D5E;
    padding-bottom: 15px;
    padding-top: 10px;
}

.number p {
    margin: 0;
    font-size: 16px;
    text-align: right;
    color: #3b506c;
    line-height: 1.8;
}

.success h2{
    margin: 0;
    font-size: 55px;
    color: #3b506c;
}

.padding{
	padding:15px;
}
/*services section start*/

/*last section start*/
.last-section{
	margin-bottom:30px;
	margin-top:0;
}

.same {
    width: 23.13%;
    float: left;
    background: pink;
    margin: 10px;
    border-radius: 15px;
    padding: 45px;
    border: 1px solid #f1f0f0;
}

.one{
	background: #FEEBED;
}


.two{
	background: #EAF9F4;
}


.three {
    background: #FFF8D0;
}

.last-section h3{
	font-size: 24px;
	color: #333;
	margin: 0;
}
.last-section p{
    margin: 0;
    color: #736c6c;
    padding-top:15px;
}
.same img{
	width:100%;
	height:300px;
}
/*last section end*/


